{% extends 'layout.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row text-center">

            {% for post in pagination %}
                <div class="col-lg-6">

                    <div class=" panel panel-primary">
                        <div class="panel-heading">{{ post.title }}</div>
                        {% for category in post.categories %}
                            <span class="label label-danger">{{ category.name }}</span>
                        {% endfor %}
                        <div class="panel-body">{{ post.content | truncate(200,true)}}</div>
                       <div class="text-center"> <a href="{{ path('display_post',{'slug':"0"~post.slug}) }}" class="center btn btn-primary">Read More</a></div><br>
                        <div class="panel-footer">{{ post.date | date('Y-m-d') }} &nbsp; Posted by : {{ post.author }}</div>

                    </div>
                </div>

            {% endfor %}

        </div>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}